.navbar{
    grid-area: n;
}

.item{
   background-color: aquamarine;
}

.item{
    color: white;
}

.item a.active{
    background-color: cyan;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

/* .active{
    background-color: coral;
} */