.site-wrapper{
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10fr;
  grid-gap: 10px;
}

.header{
  background-color: cadetblue;
}

.site-wrapper-content{
  grid-area: c;
  background-color: cornsilk;
}